


nav .container {
  background-color: #364d63;
  color: white;
  line-height: 60px;

}

nav ul li a{
  color: white;
  text-decoration: none;
}


.box_hero .container{
  background-color: #0ee8c4;
}

.about{
  background-color: #0ee8c4;
}

.h-60{
  height: 60px;
}

.h-400{
  height: 400px;


}

.h-500{
  height: 500px;


}
.text_center{
  text-align: center;
}

.box_hero img{
  width: 100px;
}


/* posizionamento centrato verticale e orizzontale */
.item-center{
  position:absolute;
  top: 50%;
  left:50%;

  transform: translate(-50%, -50%);
  margin:0;
}

#portfolio .box-foto{
  padding: 15px;
}
#portfolio .foto_portfolio{
  width: 100%;
  border-radius: 10px;
}
