

nav{
  background-color: #364d63;
}
nav .container {

  color: white;
  line-height: 60px;

}

nav ul li a{
  color: white;
  text-decoration: none;
}


.box_hero{
  background-color: #0ee8c4;
}

.about{
  background-color: #0ee8c4;
}

.h-60{
  height: 60px;
}

.h-400{
  height: 400px;


}

.h-500{
  height: 500px;


}
.text_center{
  text-align: center;
}

.h-1 {
  height: 1px;
  background-color: white;
}

.box_hero img{
  width: 200px;
}

.bolder{
  font-weight: 800;
}
.rule{
  border: 2px solid white;
}
/* posizionamento centrato verticale e orizzontale */
.item-center{
  position:absolute;
  top: 50%;
  left:50%;

  transform: translate(-50%, -50%);
  margin:0;
}
.divider-custom-line{
  border: 2px solid white;
}

#portfolio .box-foto{
  padding: 15px;
}
#portfolio .foto_portfolio{
  width: 100%;
  border-radius: 10px;
}

#contact-me .form {
  border: 1px solid black;
}

.form-group{
  border-top: 0;
}
footer>.top_footer{
  background-color: #2C3E50;
}
footer>.bottom_footer{
  background-color: #000000;
  height: 50px;
}
